<div class="scroll-section">
    <div class="scroll-inner">

        <!-- Partie gauche : Titre + texte sticky -->
        <div class="sticky-left">
            <div class="sticky-content">
                <h2 class="main-title" appInView>
                    Des solutions natives pour développer les entreprises
                </h2>
                <div class="sub-container">
                    <br>
                    <p class="sub-text" appInView>
                        Nous concevons des sites optimisés pour vous faire gagner du temps et des clients.
                        Flexibles, rapides, sur-mesure.Nous concevons des sites optimisés pour vous faire gagner du
                        temps et des clients.
                        Flexibles, rapides, sur-mesure.Nous concevons des sites optimisés pour vous faire gagner du
                        temps et des clients.
                        Flexibles, rapides, sur-mesure.
                    </p>
                </div>
            </div>
        </div>

        <div class="scroll-right">
            <div class="card1" appInView>

                <div class="flex flex-col md:flex-row items-center gap-13 design">
                    <img src="/images/design.gif" alt="Illustration"
                        class="w-80 h-80 object-cover rounded-2xl design-image" appInView />

                    <div class="text-white max-w-xl" appInView>
                        <h3 class="text-4xl md:text-5xl font-extrabold text-[#4c39f8] leading-tight tracking-tight">
                            DESIGNS<br />ADAPTÉS
                        </h3>
                        <p class="mt-4 text-[#2f378b] text-base md:text-lg leading-relaxed">
                            Nous proposons des sites au design épuré qui vous demarqueront des autres sites et donneront
                            une image de marque professionelle à votre entreprise tout en permettant d'inspirer
                            confiance à vos potentiels clients.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card3" appInView>

                <img src="/images/design3.png" alt="Illustration" class="image-full" appInView />

            </div>

            <div class="card" appInView>
                <div class="flex flex-col md:flex-row items-center gap-13 design">


                    <div class="text-white max-w-xl" appInView>
                        <h3 class="text-4xl md:text-5xl font-extrabold text-[#4c39f8] leading-tight tracking-tight">
                            DESIGNS<br />ADAPTÉS
                        </h3>
                        <p class="mt-4 text-[#2f378b] text-base md:text-lg leading-relaxed">
                            Nous proposons des sites au design épuré qui vous demarqueront des autres sites et donneront
                            une image de marque professionelle à votre entreprise tout en permettant d'inspirer
                            confiance à vos potentiels clients.
                        </p>
                    </div>
                    <img src="/images/design.gif" alt="Illustration" class="w-80 h-80 object-cover rounded-2xl image"
                        appInView />
                </div>
            </div>

            <div class="special-card" appInView>
                <div class="special-container">
                    <h1>OGOGOGOGOGOGOGO</h1>
                </div>

            </div>
            <div class="card" appInView>
                <div class="flex flex-col md:flex-row items-center gap-13 design">
                    <div class="text-white max-w-xl" appInView>
                        <h3 class="text-4xl md:text-5xl font-extrabold text-[#4c39f8] leading-tight tracking-tight">
                            DESIGNS<br />ADAPTÉS
                        </h3>
                        <p class="mt-4 text-[#2f378b] text-base md:text-lg leading-relaxed">
                            Nous proposons des sites au design épuré qui vous demarqueront des autres sites et donneront
                            une image de marque professionelle à votre entreprise tout en permettant d'inspirer
                            confiance à vos potentiels clients.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>