<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar fixed top-0 left-0 w-full z-50 bg-[#fff]">
        <div class="navbar-left">
            <span class="logo">Society</span>
        </div>

        <div class="navbar-center">
            <a routerLink="/home" routerLinkActive="active" class="nav-link hover-btn">Accueil</a>
            <a routerLink="/tarifs" routerLinkActive="active" class="nav-link hover-btn">Tarifs</a>
            <a routerLink="/propos" routerLinkActive="active" class="nav-link hover-btn">À propos</a>
            <a routerLink="/contact" routerLinkActive="active" class="nav-link hover-btn">Contact</a>
        </div>

        <div class="navbar-right">
            <button routerLink="/login" class="nav-btn" *ngIf="!auth.isLoggedIn()">Se connecter</button>
            <button routerLink="/register" class="nav-btn-secondary" *ngIf="!auth.isLoggedIn()">S’inscrire</button>
            <app-user-menu *ngIf="auth.isLoggedIn()"></app-user-menu>

        </div>


    </nav>
</body>

</html>