<div class="login-container">
    <div class="logo-container">
        <span class="logo">Society</span>
    </div>
    <div class="login-box">
        <h2 class="login-title">Connexion</h2>

        <form>
            <div class="form-group">
                <label for="email">Adresse email</label>
                <input type="email" id="email" placeholder="exemple@email.com" required />
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" placeholder="••••••••" required />
            </div>

            <button type="submit" class="login-btn">Se connecter</button>
        </form>

        <p class="login-footer">
            Pas encore de compte ?
            <a routerLink="/register" class="create">Créer un compte</a>
        </p>
    </div>
</div>