<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <div class="home-wrapper">
        <br><br>
        <h1 class="main-title animation">
            Faites <span class="emphasized">briller</span> votre activité avec un site conçu pour vous
        </h1>

        <span class="main-text animation" style="animation-delay: 0.2s;">
            Pas besoin d'être un expert pour avoir un site qui vous ressemble.
            Nous vous accompagnons dans la création de sites clairs, modernes et
            efficaces pour que vous puissiez vous concentrer sur votre
            métier. Chaque projet est pensé pour renforcer votre image et transformer votre
            trafic en clients.
        </span>
        <br><br><br>
        <a routerLink="/contact" routerLinkActive="active" class="discuss-btn animation glow-btn"
            style="animation-delay: 0.4s;">
            Discutons de votre projet
        </a>



    </div>

    <app-sliding-bar></app-sliding-bar>
    <app-div-scroller appInView></app-div-scroller>
    <br>
    <br>
    <br>
    <br>
    <app-review></app-review>
</body>

</html>