<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body>
    <div class="toast-container" *ngIf="successMessage">
        <div class="toast-content success" id="toast-success">
            <span class="icon">✔︎</span>
            <span class="text">{{ successMessage }}</span>
        </div>
    </div>


    <div class="home-wrapper">
        <br><br>
        <h1 class="main-title animation">
            Faites <span class="emphasized">CACA</span> votre activité avec un site conçu pour vous
        </h1>

        <span class="main-text animation" style="animation-delay: 0.2s;">
            Pas besoin d'être un expert pour avoir un site qui vous ressemble.
            Nous vous accompagnons dans la création de sites clairs, modernes et
            efficaces pour que vous puissiez vous concentrer sur votre
            métier. Chaque projet est pensé pour renforcer votre image et transformer votre
            trafic en clients.
        </span>
        <br><br><br>
        <a (click)="onContactClick()" routerLink="/contact" routerLinkActive="active"
            class="discuss-btn animation glow-btn" style="animation-delay: 0.4s;">
            Discutons de votre projet
        </a>



    </div>

    <app-sliding-bar></app-sliding-bar>
    <br><br><br><br><br>
    <app-card></app-card><br><br><br>
    <app-review></app-review>

    <div class="between">
        <h1 class="main-title2" appInView>Préparez votre succès dès aujourd'hui.</h1>
        <a (click)="onContactClick()" class="back-button animation" routerLink="/contact">
            <span class="btn-text">Commencer</span>
        </a>

    </div>
</body>

</html>