<h1 class="main-title">Menez votre activité vers la réussite</h1>
<div class="grid-container">
    <div class="card">
        <img class="card-image" src="/images/card1.png" appInView>
        <h1 class="card-title" appInView>Boutique en ligne</h1>
        <p class="card-text" appInView>Vendez en ligne et gérez votre entreprise avec notre plateforme eCommerce.</p>
        <div class="btn-wrapper" appInView>
            <a class="card-btn" (click)="onContactClick()">Créer votre boutique</a>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/card2.png" appInView>
        <h1 class="card-title" appInView>Hebergement et domaines</h1>
        <p class="card-text" appInView>Profitez d'un hébergement web pour votre site et
            connectez un nom de domaine professionnel.


        </p>
        <div class="btn-wrapper" appInView>
            <a class="card-btn">En savoir plus</a>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/card4.png" appInView>
        <h1 class="card-title" appInView>Site vitrine</h1>
        <p class="card-text" appInView>Renforcez votre image de marque à l'aide de la création de logo, de thèmes de
            couleur et de texte.

        </p>
        <div class="btn-wrapper" appInView>
            <a class="card-btn" (click)="onContactClick()">Créer votre site</a>
        </div>
    </div>
    <div class="card">
        <img class="card-image" src="/images/card3.png" appInView>
        <h1 class="card-title" appInView>Blogs</h1>
        <p class="card-text" appInView>Créez un blog, fidèlisez vos lecteurs et monétisez votre contenu.
        </p>
        <div class="btn-wrapper" appInView>
            <a (click)="onContactClick()" class="card-btn">Créer votre blog</a>
        </div>
    </div>
</div>