<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="total-wrapper">
        <div class="logo-container">
            <a class="logo" routerLink="/home">Society</a>
        </div>


        <div class="contact-wrapper">
            <div class="progress-info">{{ progressPercentage }}%</div>
            <div class="progress-container">
                <div class="progress-bar">
                    <div class="progress" [style.width.%]="progressPercentage"></div>
                </div>
            </div>

            <div class="form-card" [@stepAnimation]>
                <!-- Étape 1 -->
                <ng-container *ngIf="currentStep === 1">
                    <h2 class="form-title">Vos informations</h2>
                    <div class="form-group" *ngFor="let field of ['prenom', 'nom', 'email', 'telephone']">
                        <input [type]="field === 'email' ? 'email' : field === 'telephone' ? 'tel' : 'text'" required
                            [ngModel]="getFormField(field)" (ngModelChange)="setFormField(field, $event)"
                            (ngModelChange)="onProjectDetailChange()" [class.invalid]="isInvalid(field)" />

                        <label>
                            {{
                            field === 'prenom' ? 'Prénom' :
                            field === 'nom' ? 'Nom' :
                            field === 'email' ? 'Email' : 'Téléphone'
                            }}
                        </label>
                        <div class="error-message" *ngIf="isInvalid(field)">{{ errorMessages[field] }}</div>
                    </div>
                </ng-container>

                <!-- Étape 2 -->
                <ng-container *ngIf="currentStep === 2">
                    <h2 class="form-title">Type de projet</h2>
                    <div class="radio-group">
                        <div class="error-message" *ngIf="isInvalid('prestation')">{{ errorMessages['prestation'] }}
                        </div>
                        <label class="radio-option" *ngFor="let option of prestations">
                            <input type="radio" name="prestation" [value]="option" [(ngModel)]="formData['prestation']"
                                (ngModelChange)="onProjectDetailChange()" />
                            <span class="custom-radio"></span>
                            <span class="option-text">{{ option }}</span>
                        </label>
                    </div>
                </ng-container>

                <!-- Étape 3 -->
                <ng-container *ngIf="currentStep === 3">
                    <h2 class="form-title">Détails du projet</h2>

                    <!-- Message global -->
                    <div class="form-group">
                        <textarea (ngModelChange)="onProjectDetailChange()" rows="4" required
                            [(ngModel)]="formData['message']" name="message"
                            [class.invalid]="isInvalid('message')"></textarea>
                        <label>Décrivez votre projet en quelques mots</label>
                        <div class="error-message" *ngIf="isInvalid('message')">{{ errorMessages['message'] }}</div>
                    </div>

                    <!-- Questions dynamiques selon la prestation -->
                    <ng-container [ngSwitch]="formData['prestation']">

                        <!-- Site vitrine -->
                        <ng-container *ngSwitchCase="'Site vitrine'">
                            <div class="form-group">
                                <input type="text" (ngModelChange)="onProjectDetailChange()"
                                    [(ngModel)]="formData['pagesVitrine']" name="pagesVitrine">

                                <label class="field-label">
                                    Combien de pages souhaitez-vous ?
                                    <span class="optional">(optionnel)</span>
                                </label>

                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['designRefVitrine']" name="designRefVitrine"
                                    (ngModelChange)="onProjectDetailChange()">

                                <label class="field-label">
                                    Avez-vous un design de référence ?
                                    <span class="optional">(optionnel)</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['fonctionnalitesVitrine']"
                                    name="fonctionnalitesVitrine" (ngModelChange)="onProjectDetailChange()">

                                <label class="field-label">
                                    Des fonctionnalités spécifiques à inclure ?
                                    <span class="optional">(optionnel)</span>
                                </label>
                            </div>
                        </ng-container>

                        <!-- Boutique -->
                        <ng-container *ngSwitchCase="'Boutique e-commerce'">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['produitsBoutique']" name="produitsBoutique"
                                    (ngModelChange)="onProjectDetailChange()">

                                <label class="field-label">
                                    Nombre de produits à vendre ?
                                    <span class="optional">(optionnel)</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['paiementBoutique']" name="paiementBoutique"
                                    (ngModelChange)="onProjectDetailChange()">

                                <label class="field-label">
                                    Méthodes de paiement souhaitées ?
                                    <span class="optional">(optionnel)</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['optionsLivraison']" name="optionsLivraison"
                                    (ngModelChange)="onProjectDetailChange()">

                                <label class="field-label">
                                    Options de livraison ?
                                    <span class="optional">(optionnel)</span>
                                </label>
                            </div>
                        </ng-container>

                        <!-- Blog -->
                        <ng-container *ngSwitchCase="'Blog'">
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['categoriesBlog']" name="categoriesBlog"
                                    (ngModelChange)="onProjectDetailChange()">

                                <label class="field-label">
                                    Souhaitez-vous classer vos articles en catégories ?
                                    <span class="optional">(optionnel)</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['interactionsBlog']" name="interactionsBlog"
                                    (ngModelChange)="onProjectDetailChange()">

                                <label class="field-label">
                                    Souhaitez-vous des commentaires ou likes sur les articles ?
                                    <span class="optional">(optionnel)</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="formData['frequenceBlog']" name="frequenceBlog"
                                    (ngModelChange)="onProjectDetailChange()">
                                <label class="field-label">
                                    À quelle fréquence publierez-vous du contenu ?
                                    <span class="optional">(optionnel)</span>
                                </label>

                            </div>
                        </ng-container>

                    </ng-container>
                </ng-container>


                <!-- Étape 4 -->
                <ng-container *ngIf="currentStep === 4">
                    <h2 class="form-title">Préférence de contact</h2>
                    <div class="radio-group">
                        <div class="error-message" *ngIf="isInvalid('preference')">{{ errorMessages['preference'] }}
                        </div>
                        <label class="radio-option" *ngFor="let option of contactPreferences">
                            <input type="radio" name="preference" [value]="option" [(ngModel)]="formData['preference']"
                                (ngModelChange)="onProjectDetailChange()" />
                            <span class="custom-radio"></span>
                            <span class="option-text">{{ option }}</span>
                        </label>
                    </div>
                </ng-container>

                <!-- Étape 5 -->
                <div class="final-screen" *ngIf="currentStep === 5" @finalAnimation>
                    <div class="final-content">



                        <img src="/images/check.png" class="final-icon" alt="succès" />
                        <h2 class="final-title">Demande envoyée</h2>
                        <p class="final-text">
                            Nous avons bien reçu votre demande de devis.<br />
                            Un retour vous sera fait dans les plus brefs délais.
                        </p>
                        <button class="return-home-btn" routerLink="/home">
                            Revenir à l’accueil
                        </button>

                    </div>
                </div>

                <!-- Navigation -->
                <div class="btn-nav" *ngIf="currentStep < 5">
                    <ng-container *ngIf="currentStep > 1; else emptySpacer">
                        <button class="nav-btn" (click)="prev()">Précédent</button>
                    </ng-container>
                    <ng-template #emptySpacer>
                        <div class="spacer"></div>
                    </ng-template>

                    <button class="nav-btn primary" (click)="next()">
                        {{ currentStep === 4 ? 'Envoyer' : 'Suivant' }}
                    </button>
                </div>

            </div>
        </div>
        <canvas id="confetti-canvas" class="confetti-canvas"></canvas>
    </div>
</body>

</html>