.main-wrapper {
    background: linear-gradient(135deg, #667eea, #764ba2);
    width: 99.24vw;
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* masque les éléments hors écran */
    position: relative;

}



.slider-track {
    display: flex;
    transition: transform 0.6s ease;
}


.main-title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    background: white;
    background-size: 400% 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100px;
    width: 1000px;
    border-radius: 10px;
    padding: 10px 20px;
}

.review-wrapper {
    flex-shrink: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 40px;
}

.review-wrapper>.review-card {
    width: 1000px;
    height: 460px;
    background-color: white;
    border-radius: 20px;
    padding: 25px 70px;
    display: flex;
    flex-direction: column;
}


.main-text {
    font-family: 'Circular Std', sans-serif;
    color: rgba(0, 0, 0, 0.747);
    font-size: 35px;
    font-weight: 100;
    font-style: italic;
    margin-top: 20px;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    margin-top: 40px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 30px;
}

.profile {
    width: 6%;
}

.profile-text {
    font-size: 22px;
    font-weight: bold;
    color: rgb(29, 29, 29);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-left: 400px;
}

.arrow-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: auto;
    font-size: 20px;
    transition: color 0.3s ease;
    cursor: pointer;
}

.arrow-button:hover {
    color: rgb(107, 136, 255);
}

.stars {
    width: 4%;
}


.stars-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}