<div class="main-wrapper">
    <h1 class="main-title" appInView>Une relation client privilegiée</h1>
    <div class="review-wrapper" appInView>
        <p class="main-text">“Society a su faire preuve
            de
            rigueur et de
            ténacité dans le projet qui leur a été confié. Notre département se sert tous les jours du site qu'ils
            ont conçu très apprecié des collègues et supérieurs.”
        </p>
        <div class="line"></div>
        <div class="account">
            <img src="/images/profile1.png" class="profile">
            <p class="profile-text">Ministère de la justice</p>
            <div class="nav-links">
                <button class="arrow-button">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button class="arrow-button">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>



    </div>

</div>