<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarifs</title>
</head>

<body>
    <div class="main-wrapper" *ngIf="!isMobile">
        <h1 class="main-title animation">Choisissez votre prestation</h1>
        <app-vitrine></app-vitrine>
    </div>

    <div class="main-wrapper" *ngIf="isMobile">
        <h1 class="main-title-mobile animation">Choisissez votre prestation</h1>
        <app-prices-bar-mobile></app-prices-bar-mobile>

    </div>
</body>

</html>