<div class="profile-wrapper">
    <img src="/images/user.png" alt="Profil" class="profile-img" (click)="toggleMenu()" />


    <div class="account-menu" [class.show]="isMenuOpen">
        <div class="menu-name"><span>{{user?.name}}</span></div>
        <div class="menu-item" (click)="accountRedirect()">
            <svg class="icon" viewBox="0 0 24 24">
                <path d="M12 12a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0 2c-4.418 0-8 1.79-8 4v2h16v-2c0-2.21-3.582-4-8-4Z" />
            </svg>
            <span>Mon compte</span>
        </div>
        <!--
        <div class="menu-item" (click)="devisRedirect()">
            <svg class="icon" viewBox="0 0 24 24">
                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2Z" />
            </svg>
            <span>Mes devis</span>
        </div>
        -->
        <div class="divider"></div>
        <div class="menu-item logout" (click)="auth.logout()">
            <svg class="icon" viewBox="0 0 24 24">
                <path
                    d="M9 16v-1H4v-2h5v-1l3 2-3 2Zm7-12H8a2 2 0 0 0-2 2v4h2V6h8v12H8v-4H6v4a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Z" />
            </svg>
            <span>Se déconnecter</span>
        </div>
    </div>
</div>